.section{
  margin: 20px;
  min-height: 75vh;
}

.app-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.app-title {
  color: #fff;
}

.app-footer{
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  margin-right: 0;
}
